@if(failLogin) {
<app-toast
  [title]="'Đăng nhập thất bại'"
  [type]="'error'"
  [message]="'Tên tài khoản hoặc mật khẩu bị sai'"
  [delay]="delay"
></app-toast>
}
<div class="login-container">
  <div class="screen">
    <div class="screen__content">
      <form class="login" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h2 class="login__title">Login</h2>
        <div class="login__field">
          <i class="login__icon fas fa-user"></i>
          <input
            formControlName="email"
            type="text"
            class="login__input"
            placeholder="Email"
          />
        </div>
        <div class="login__field">
          <i class="login__icon fas fa-lock"></i>
          <input
            formControlName="password"
            type="password"
            class="login__input"
            placeholder="Password"
          />
        </div>
        <button
          class="button login__submit"
          type="submit"
          [disabled]="loginForm.invalid"
        >
          <span class="button__text" click>Log In Now</span>
          <i class="button__icon fas fa-chevron-right"></i>
        </button>
        <div class="change-signup">
          <a click [routerLink]="['/sign-up']"
            >Không có tài khoản? Đăng ký ngay</a
          >
        </div>
      </form>

      <!-- <div class="social-login">
        <h3>log in via</h3>
        <div class="social-icons">
          <a href="#" class="social-login__icon fab fa-instagram"></a>
          <a href="#" class="social-login__icon fab fa-facebook"></a>
          <a href="#" class="social-login__icon fab fa-twitter"></a>
        </div>
      </div> -->
    </div>
    <div class="screen__background">
      <span class="screen__background__shape screen__background__shape4"></span>
      <span class="screen__background__shape screen__background__shape3"></span>
      <span class="screen__background__shape screen__background__shape2"></span>
      <span class="screen__background__shape screen__background__shape1"></span>
    </div>
  </div>
</div>
