.content {
  width: 1400px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}

@media (min-width: 2000px) {
  .content {
    width: 1800px;
  }
}