.container {
  width: 100%;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
}

.title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.input-group {
  margin-top: 24px;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.input-field {
  flex: 1;
}


.input-field label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-field select,
.input-field input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}



.save-btn,
.cancel-btn,
.add-button {
  display: flex;
  column-gap: 16px;
  justify-content: center;
  font-size: 1.6rem;
  width: 100%;
  padding: 10px;
  background-color: var(--primary-green);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
}

.cancel-btn {
  background-color: transparent;
  border: 1px solid var(--primary-green);
  color: var(--primary-green);
}

.save-btn,
.cancel-btn {
  width: fit-content;
}

.confirm-group {
  margin-top: 16px;
  display: flex;
  column-gap: 16px;
  justify-content: flex-end;
}

.add-button:hover {
  opacity: 0.9;
}

.price-ranges {
  margin-top: 15px;
}

.price-ranges h3 {
  font-weight: 600;
}

.price-range {
  margin-top: 8px;
}

.price-range .item {

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 4px;
  margin-bottom: 5px;
}

.delete-button {
  background: none;
  border: none;
  color: #d9534f;
  cursor: pointer;
}

.delete-button:hover {
  color: #c9302c;
}

.error-message {
  color: #d9534f;
  font-size: 12px;
  margin-top: 4px;
}

.cta-group {
  display: inline-flex;
  column-gap: 6px;
}